* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    justify-content: end;
}

.header {
    padding: 28px 64px 28px 300px;
    
}

.header-menu {
    color:black; 
    text-decoration: none;
    display: flex;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.header-back {
    color:rgb(209, 6, 6); 
    text-decoration: none;
    font-size: 20px;
}

